# GCC stack protector support
CONFIG_CC_STACKPROTECTOR=y

# Strict user copy checks
CONFIG_DEBUG_STRICT_USER_COPY_CHECKS=y

# Enforce read-only kernel data
CONFIG_DEBUG_RODATA=y

# Restrict /dev/mem access
CONFIG_STRICT_DEVMEM=y

# Restrict /dev/kmem access
CONFIG_DEVKMEM=n

# Need by kexec to make kernel dump on panic
# Disable /proc/kcore
CONFIG_PROC_KCORE=y

# Restrict access to the kernel syslog
CONFIG_SECURITY_DMESG_RESTRICT=y
