# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf changes incompatibly
LCONF_VERSION = "6"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS = "##COREBASE##/meta \
            ##COREBASE##/meta-yocto/meta-poky \
            ##COREBASE##/meta-openembedded/meta-initramfs \
            ##COREBASE##/meta-openembedded/meta-systemd \
            ##COREBASE##/meta-openembedded/meta-oe \
            ##COREBASE##/meta-openembedded/meta-networking \
            ##COREBASE##/meta-openembedded/meta-webserver \
            ##COREBASE##/meta-virtualization \
            ##COREBASE##/meta-security \
            \
            ##COREBASE##/meta-tprrt/meta-exiguous \
            ##COREBASE##/meta-tprrt/meta-ergo \
            ##COREBASE##/meta-tprrt/meta-heart \
            ##COREBASE##/meta-tprrt/meta-tupi \
           "

# Dependencies of meta-networking layer
BBLAYERS += "##COREBASE##/meta-openembedded/meta-python"

# Dependency of meta-security layer
BBLAYERS += "##COREBASE##/meta-openembedded/meta-perl \
             ##COREBASE##/meta-openembedded/meta-filesystems \
            "

# Layers dependencies for meta-ergo, meta-heart and meta-tupi
BBLAYERS += "##COREBASE##/meta-tprrt/meta-exiguous-bsp \
             ##COREBASE##/meta-intel \
             ##COREBASE##/meta-raspberrypi \
             ##COREBASE##/meta-ti \
            "

# Dependencies of meta-intel layer
BBLAYERS += "##COREBASE##/meta-yocto/meta-yocto-bsp"

# Layer only need to run oe-selftest
BBLAYERS += "##COREBASE##/meta-selftest"

BBLAYERS_NON_REMOVABLE = "##COREBASE##/meta \
                          ##COREBASE##/meta-yocto/meta-poky \
                          ##COREBASE##/meta-openembedded/meta-initramfs \
                          ##COREBASE##/meta-openembedded/meta-systemd \
                          ##COREBASE##/meta-virtualization \
                          \
                          ##COREBASE##/meta-tprrt/meta-exiguous \
                          ##COREBASE##/meta-tprrt/meta-exiguous-bsp \
                         "
